cycler==0.11.0
dill==0.3.4
et-xmlfile==1.1.0
fonttools==4.29.1
greenlet==1.1.2
importlib-metadata==4.11.1
joblib==1.1.0
kiwisolver==1.3.2
matplotlib==3.5.1
multiprocess==0.70.12.2
numpy==1.21.5
openpyxl==3.0.9
packaging==21.3
pathos==0.2.8
Pillow==9.0.1
pox==0.3.0
ppft==1.6.6.4
py4j==0.10.9
pykalman==0.9.5
pyodbc==4.0.32
pyparsing==3.0.7
python-dateutil==2.8.2
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
threadpoolctl==3.1.0
typing_extensions==4.1.1
zipp==3.7.0
pyarrow==5.0.0
fastparquet==0.5.0
snowflake-connector-python==2.3.4
snowflake-sqlalchemy==1.2.4
sqlalchemy==1.3.19
psutil==5.9.0